body {
    background-image: url(http://podensac.fr/upload/fond_ecran/degrade-bleu2.jpg);
:#BCACFF;
    font-family: "Georgia";
    position: relative;
}
div {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1 {

    text-align: center;
    color: #9EFFFA;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #9EFFFA;
}

#profil {
    height: 180px;
    width: 180px;
    border: black solid 3px;
    margin-top: -200px;
    margin-left: 60px;
    position: relative;
}

p {
    left: 14%;
    top: 30%;
    text-align:center;
    font-size: 20px;
}

h3 {
    top: 45%;
    font-size: 35px ;
    color: #9EFFFA;
}

#titre1 {
    left: 8%;
    display: inline-block;
    width: 33%;
    text-align: center;
}

#titre2 {
    left: 36%;
    display: inline-block;
    width:32%;
    text-align: center;
}

#titre3 {
    right: 6%;
    display: inline-block;
    width: auto;
    text-align: center;
}

ul {
    font-size: 18px;
    display: inline-block;

}

#thème1 {
    text-align: left;
    width: 31%;
    padding-left: 8%;

}

#thème2 {
    text-align: left;
    width: 25%;
}

#thème3 {
    text-align: left;
    width: 25%;
}

#id1 {
    top: 85%;
    left: 10%;
}

#id2 {
    top: 85%;
    left: 15%;
}

#id3 {
    top: 85%;
    left: 22%;
}
#twitter {
    height: 90px;
    width: 90px;
    padding-left: 6%;
}

#linkedin {
    height: 90px;
    width: 90px;
    padding-left: 2%;
}

#github {
    height: 90px;
    width: 90px;
    padding-left: 2%;
}

img {
    display: inline-block;
}

#Pbouton {
    position: relative;
    margin-top: 3%;
}


